**/*.exe

.*
.*/
solution1/.*
solution1/csim/build/*

ascon-hardware/ascon-vhdl.*/
!ascon-hardware/ascon-vhdl.sim/
!ascon-hardware/ascon-vhdl.srcs/

ascon-hardware/ascon-vhdl.sim/sim_1/behav/xsim/*
!ascon-hardware/ascon-vhdl.sim/sim_1/behav/xsim/KAT/

ascon-hardware/ascon-vhdl.sim/sim_1/*/*/xsim/*
!ascon-hardware/ascon-vhdl.sim/sim_1/*/*/xsim/KAT/

!.gitignore